body {margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;}

/*Header*/
.div_header {flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    min-height: 80px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #213B7E;}

.menu {flex-wrap: wrap;
    display: flex;
    align-self: stretch;
    padding: 0;
    margin: 0;
    list-style: none;}

.menu > li {display: flex;}

.menu_link {
    display: flex;
    align-items: center;
    padding: 0 18px;
    background-color: #213B7E;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;}

.menu_link:hover {background-color: #FFFFFF;
    color: #213B7E;
    text-decoration-line: none;}

.login_button {display: flex;
    width: 153px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #EA5D21;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;}

/*Burger*/
.button_burger {display: none;
    position: relative;
    width: 80px;
    height: 80px;
    border: none;
    background-color: #213B7E;}

.span_burger {position: absolute;
    width: 50px;
    height: 10px;
    background-color: #FFFFFF;
    left: 5px;}

.span_burger:nth-child(1) {top: 15px;}
.div_header.open .span_burger:nth-child(1) {top: 34px;
    transform: translateY(0) rotate(45deg);}

.span_burger:nth-child(2) {top: 35px;}
.div_header.open .span_burger:nth-child(2) {opacity: 0;}

.span_burger:nth-child(3) {bottom: 15px;}
.div_header.open .span_burger:nth-child(3) {top: 34px;
    transform: translateY(0) rotate(-45deg);}

/*Popup*/
.login_popup {display: none;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 50px;
    background-color: #FFFFFF;
    border: 1px solid #213B7E;
    box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.25);}
.head_popup {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    text-align: center;}
.form_popup {display: flex;
    align-items: center;
    flex-direction: column;}
.form_popup > input {width: 100%;
    max-width: 444px;
    min-height: 55px;
    margin-bottom: 56px;
    border: 1px solid #808080;}
.form_login {padding-left: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #808080;}
.button_popup {display: flex;
    width: 153px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #EA5D21;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    border: none;}

.show_popup {display: block;}

/*Content*/
.content {flex-wrap: wrap;
    text-align: left;
    width: 100%;
    max-width: 911px;
    margin: 0 auto;
    flex-grow: 1;}

.for_h3 {
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 700;
    color: #000000;}

.div_img {flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 523px;
    max-height: 316px;}
.div_text1 {
    color: #000000;
    font-family: Roboto;
    font-weight: 400;
    font-size: 25px;}
.div_text2 {flex-wrap: wrap;
    color: #000000;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    max-width: 634px;}
.div_color {color: #CF5510}

/*Footer*/
.for_footer1 {flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    min-height: 60px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #213B7E;}
.for_footer2 {display: flex;
    color: #FFFFFF80;
    width: 211px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto';}
.for_footer3 {color: #FFFFFF80;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto';}

/*about*/

.video {width: 100%;
    max-width: 820px;
    height: 550px;
    border: 2px solid #EA5D21;}

/*contacts*/

.map {margin: 0 auto;
    width: 100%;
    max-width: 1268px;
    min-height: 400px;
    border: none;}

.contacts {font-family: Roboto;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    color: #000000;}

.contacts_adress {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;}

.contacts_phone {margin-top: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: underline;}

/*students*/

.students_div {flex-wrap: wrap;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.students {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;}

.student {padding: 24px;}

.student_img {
    width: 200px;
    height: 270px;}

.student_name {display: block;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;}

.student_name_link {color: #000000;
    text-decoration: none;}

/*Me*/

.photo_me {flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 420px;}

.plug_img {margin: 0 auto;
    width: 100%;
    max-width: 700px;
    height: auto;}

/*media*/

@media (max-width: 710px) {
    .button_burger {
        display: block;
    }
    .menu {display: none;
        justify-content: center;
        position: absolute;
        top: 80px;
        right: 48%;
        background-color: #213B7E;
        width: 135px;
        height: 190px;
    }
    .menu_link {display: block;
        text-align: center;
        width: 135px;
        padding: 10px;
    }
    .div_header.open .menu {display: flex;

    }
}